 body {
    font-family: sans-serif;
    background-image: linear-gradient(#5483B3, #021024);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #021024;
    padding: 50px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.logo img {
    width: 100px;
    height: 55px;
}
h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 40px;
}
.social-login button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #5483B3;
    border-radius: 500px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
.social-login button:hover {
    border-color: #C1E8FF;
}
.social-login button img {
    width: 24px;
    height: 24px;
}
.google {
    background-color: #021024;
    color: #ffffff;
}
.facebook {
    background-color: #021024;
    color: #fff;
}
.apple {
    background-color: #021024;
    color: #ffffff;
}
.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #b3b3b3;
}
.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #282828;
}
.email-login {
    text-align: left;
    margin-bottom: 10px;
}
.email-login label {
    display: block;
    margin-bottom: 10px;
    color: #b3b3b3;
    font-size: 14px;
}
.email-login input[type="text"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #021024;
    color: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #5483B3;
}
.email-login button.continue-email {
    background-color: #C1E8FF;
    color: #021024;
    border: none;
    border-radius: 25px;
    padding: 14px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
button.continue-email:hover {
    background-color: #5483B3;
}
.signup-link {
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 20px;
}
.signup-link a {
    color: #fff;
    text-decoration: none;
}
.signup-link a:hover {
    color: #5483B3;
    text-decoration: underline;
}
